<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
		<title>Grocery Store Cart</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<header>
			{{!-- <img src="../public/assets/img/cart.png" alt=""> --}}
		</header>
		<main>
			{{{body}}}
		</main>
		<script>
			 $('#submit').on('click', (event) => {
		        event.preventDefault();
		        let name = $('#item').val().trim();

		        let item = {
		            product_name: name,
		            price: 5,
		            stock_quantity: 10,
		        }

		        console.log(item)

		        $.ajax('/store/new', item, (data)=>{
		        	$('#item').val('');
		        	location.reload();

		        })
		    });


		    $('.statusChange').on('click', function(e) {
		    	e.preventDefault();
		    	let id = $(this).data('id')
		    	console.log('id: ', id)

		    	$.ajax("/store/" + id, {
				      type: "PUT",
				      data: {id: id}
				    }).then((data)=> {
				        location.reload();
				     }
				);

		    });
		</script>
		<footer>
			<p>Copyright Josh Hedstrom 2018</p>
		</footer>
	</body>
</html>