<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" />
		<title>Grocery Store Cart</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<header>
			<img src="../public/assets/img/cart.png" alt="">
		</header>
		<main>
			{{body}}
		</main>
		<footer>
			<p>Copyright Josh Hedstrom 2018</p>
		</footer>
	</body>
</html>