<h1>Grocery Store</h1>

<h2>Available Items</h2>

<ul>
  {{!-- <li>testing</li> --}}
  {{#each products}}
  <li>Item: {{this.product_name}} || Cost: {{this.price}} || Available: {{this.stock_quantity}}</li>
  {{/each}}
</ul>

<h2>Cart</h2>

<ul>
  {{#each cart}}
  <li>{{this.product_name}}</li>
  {{/each}}
</ul>

{{!-- <h2>Add an item</h2>
<form>

    <label for="name">Item:</label>
    <input type="text" id="item" name="name">

    <label for="price">Price:</label>
    <input type="text" id="price" name="price">

    <label for="stock">Available Quantity:</label>
    <input type="text" id="stockQuantity" name="stock">

  <button type="submit">Add Item</button>
</form>
 --}}