<div class="header">
  <h1>Grocery Store</h1>
</div>

<h2>Available Items</h2>

<div>
  <ul class="products">
    {{#each products}}
      {{#unless in_cart}}
          {{>item-block in_cart=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<h2>Cart</h2>

<div class="cart">
  <ul>
    {{#each products}}
      {{#if in_cart}}
          {{>item-block in_cart=false}}
      {{/if}}
    {{/each}}
  </ul>
</div>

<h2>Can't find what you're looking for? Add an item here!</h2>

<div class="addItem">
  <form>
    <label>Item:</label>
    <input id="item">
    <button id="submit">Add Item</button>
  </form>
</div>
