<h1>Grocery Store</h1>

<h2>Available Items</h2>

<ul>
  {{#each products}}
    {{#unless in_cart}}
        {{>item-block in_cart=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cart</h2>

<ul>
  {{#each products}}
    {{#if in_cart}}
        {{>item-block in_cart=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Can't find what you're looking for? Add an item here!</h2>
<form>

    <label>Item:</label>
    <input id="item">

  <button id="submit">Add Item</button>
</form>
